body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/Fran2.JPG');
    background-position: center;
}

.bg-color {
    background-color: #080a5e;
}

.navbar-logo {
    color: #ffffff;
    font-size: 20px;
}

.carousel-indicators {
    top: 150px;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #080a5e;
}

.carousel-style {
    background-color: #080a5e;
    padding-bottom: 70px;
    }

.work-title {
    color: #ff16f1;
}

.card-color {
    color: #ff16f1;
}

.bg-contact {
    background-color: #ff16f1;
}

.footer-style {
    background-color: #080a5e;
    height: 200px;
}


@media (max-width: 768px) {
    header {
        padding-top: 200px;
    }

    header h1 {
        font-size: 25px;
    }

    header h2 {
        font-size: 20px;
        background-color: #ff16f1;
        color: #ffffff;
    }

    section h2 {
        font-size: 20px;
    }

    .img-size {
        height: 80px;
        width: 150px;
        margin-top: 20px;
        }

    .title-carousel {
        border-bottom: 2px solid #ffffff;
        padding-bottom: 15px;
        color: #ffffff;
    }  

    .work-border {
        border-bottom: 2px solid #ff16f1;
    }

    .contact-title {
        border-bottom: 2px solid #ffffff;
        color: #ffffff;
    }

    .carousel-text {
        color: #ffffff;
        font-size: 12px;
    }

    .carousel-indicators {
        top: 180px;
    }
    
    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #ffffff;
    }

    .contact-text {
        color: #ffffff;
        font-size: 15px;
    }

    .footer-icons a {
        color: #ffffff;
        margin-right: 6px;
        margin-left: 6px;
    }

    .footer-icons {
        text-align: center;
        display: block;
    }

    footer h2 {
        text-align: center;
        display: block;
    }
}
    

@media (min-width: 769px) {
    header {
        padding-top: 570px;
    }

    header h1 {
        font-size: 80px;
    }

    header h2 {
        font-size: 50px;
        background-color: #ff16f1;
    }

    section h2 {
        font-size: 50px;
        }

    .img-size {
        height: 150px;
        width: 300px;
        margin-top: 25px;
        }
    
    .title-carousel {
        border-bottom: 5px solid #ffffff;
        padding-bottom: 20px;
        color: #ffffff;
    } 
    
    .work-border {
        border-bottom: 5px solid #ff16f1;
    }

    .contact-title {
        border-bottom: 5px solid #ffffff;
        color: #ffffff;
    }

    .carousel-text {
        color: #ffffff;
        font-size: 20px;
    }

    .carousel-indicators {
        top: 250px;
    }
    
    .carousel-indicators li {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #FFFFFF;
    }

    .contact-text {
        color: #ffffff;
        font-size: 30px;
    }

    .footer-icons a {
        color: #ffffff;
    }

    .footer-icons {
        float: right;
        padding-right: 100px;
    }
}