body {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #ffffff;
}

.bg-color {
  background-color: #080a5e;
}

.bg-work {
  background-color: #080a5e;
}

.card-color {
  color: #080a5e;
}

.footer-style {
  background-color: #080a5e;
  height: 200px;
}

.presentation-text {
  margin: 100px;
  font-size: 20px;
  color: #080a5e;
}

.btn-style {
  background-color: #ff16f1;
  color: #ffffff;
}

@media (max-width: 768px) {
  .navbar-logo {
    color: #ffffff;
    font-size: 20px;
  }

  header h5 {
    font-size: 30px;
    color: #ffffff;
  }

  header p {
    font-size: 22px;
    background-color: #ff16f1;
    color: #ffffff;
  }

  .carousel-size {
    height: 360px;
    width: 540px;
  }

  .img-size {
    height: 180px;
    width: 290px;
  }

  .experience-border {
    border-bottom: 2px solid #ff16f1;
    margin-top: 50px;
    text-align: center;
  }

  .experience-style {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .experience-title {
    color: #ffffff;
    background-color: #080a5e;
    font-size: 28px;
  }

  .experience-text {
    color: #ff16f1;
    font-size: 20px;
    padding-bottom: 40px;
  }

  .work-container {
    padding-top: 60px;
    padding-bottom: 50px;
  }

  .work-title {
    background-color: #ff16f1;
    color: #ffffff;
    font-size: 28px;
  }

  .contact-title {
    color: #ffffff;
    background-color: #ff16f1;
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .contact-text {
    color: #ff16f1;
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 50px;
  }

  .footer-icons a {
    color: #ffffff;
    margin-right: 6px;
    margin-left: 6px;
    font-size: 30px;
  }

  .footer-icons {
    text-align: center;
    display: block;
  }

  footer h2 {
    text-align: center;
    display: block;
    padding-bottom: 20px;
  }
}

@media (min-width: 769px) {
  .navbar-logo {
    padding-left: 100px;
    color: #ffffff;
    font-size: 30px;
  }

  .navbar-text {
    padding-right: 80px;
  }

  .carousel-size {
    height: 950px;
    width: 1440px;
    margin-top: -120px;
  }

  header h5 {
    font-size: 80px;
  }

  header p {
    font-size: 50px;
    background-color: #ff16f1;
  }

  .img-size {
    height: 270px;
    width: 460px;
  }

  .experience-style {
    padding-bottom: 70px;
  }

  .experience-title {
    color: #ffffff;
    background-color: #080a5e;
    font-size: 50px;
  }

  .contact-title {
    color: #ffffff;
    background-color: #ff16f1;
    margin-bottom: 80px;
  }

  .experience-text {
    color: #ff16f1;
    font-size: 30px;
  }

  .work-container {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .work-title {
    background-color: #ff16f1;
    color: #ffffff;
    font-size: 50px;
  }

  .card-top {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .contact-title {
    color: #ffffff;
    background-color: #ff16f1;
    font-size: 50px;
    margin-top: 50px;
  }

  .contact-text {
    color: #ff16f1;
    font-size: 30px;
  }

  .contact-button {
    margin-bottom: 50px;
    margin-top: 70px;
  }

  .footer-icons a {
    color: #ffffff;
    font-size: 40px;
  }

  .footer-icons {
    float: right;
    padding-right: 100px;
    padding-top: 15px;
    display: inline-block;
  }

  footer h2 {
    padding-top: 35px;
    display: inline-block;
  }
}
