body {
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #ffffff;
}

header {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('img/Fran2.JPG');
    background-position: center;
}

.bg-color {
    background-color: #080a5e;
}

.navbar-logo {
    color: #ffffff;
    font-size: 20px;
}

.bg-experience {
    background-color: #ff16f1;
}

@media (max-width: 768px) {
    header {
        padding-top: 200px;
    }

    header h1 {
        font-size: 25px;
    }

    header h2 {
        font-size: 20px;
        background-color: #468b6c;
        color: #ffffff;
    }

    section h2 {
        font-size: 20px;
    }

    .img-size {
        height: 80px;
        width: 160px;
        margin-top: 20px;
        }

    .title-carousel {
        border-bottom: 3px solid #ff16f1;
        padding-bottom: 15px;
        color: #ff16f1
    }  

    .carousel-text {
        color: #ffffff;
        font-size: 13px;
    }
}
    

@media (min-width: 769px) {
    header {
        padding-top: 570px;
    }

    header h1 {
        font-size: 80px;
    }

    header h2 {
        font-size: 50px;
        background-color: #468b6c;
    }

    section h2 {
        font-size: 50px;
        }

    .img-size {
        height: 250px;
        width: 500px;
        margin-top: 25px;
        }
    
    .title-carousel {
        border-bottom: 6px solid #ff16f1;
        padding-bottom: 20px;
        color: #ff16f1
    }  

    .carousel-text {
        color: #ffffff;
        font-size: 30px;
    }
}